@charset "UTF-8";
:root {
  --fiberboard: #ebd8ab;
  --fiberboard-light: #f2ecde;
  --brass: #e1c16e;
  --chalk: #eee;
  --ghost: #eee;
  --chalkboard: #497959;
  --wood: #b78240;
  --dark-wood: #5e3f18;
  --piece-red: rgba(200, 0, 0, 0.9);
  --piece-black: #333;
  --piece-purple: rgba(150, 0, 170, 0.9);
}

.fiberboard {
  background-color: var(--fiberboard);
  border-radius: 4px;
}

.btn.btn-fiberboard-light {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #666;
  background-color: var(--fiberboard-light);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 1.2rem;
  border-radius: 9999px;
}
.btn.btn-fiberboard-light:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.btn.btn-fiberboard {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #666;
  background-color: var(--fiberboard);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  padding: 0.4rem 1.2rem;
  border-radius: 9999px;
}
.btn.btn-fiberboard:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.btn.btn-ghost {
  color: var(--ghost);
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid var(--ghost);
  padding: 0.3rem 1.2rem;
  border-radius: 9999px;
}
.btn.btn-ghost:hover {
  transition: all 0.2s;
  background-color: var(--ghost);
  color: #333;
}

/*
.frame {
  --frame-ring-width: 0.25rem;
  --frame-inner-border-radius: 0.25rem;

  border-radius: calc(var(--frame-inner-border-radius) + var(--frame-ring-width));
  overflow: hidden;
  background-color: var(--brass);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5), inset 0 0 var(--frame-ring-width) var(--brass);
  padding: var(--frame-ring-width);

  .frame__inner {
    position: relative;
    border-radius: var(--frame-inner-border-radius);
    overflow: hidden;
    box-shadow: 0 0 var(--frame-ring-width) var(--brass);

    &::before {
      content: '';
      @include background;
      z-index: 10;
      pointer-events: none;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    }
  }
}
*/
.polaroid {
  background: #fff;
  box-shadow: 0 1.25vb 0.75vb 0.1vb rgba(0, 0, 0, 0.75);
}
.polaroid .polaroid__photo {
  aspect-ratio: 1;
  padding: 5.7142857%;
}
.polaroid .polaroid__caption {
  aspect-ratio: 5/2;
  padding: 0 5.7142857%;
  padding-bottom: 4.7619%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.framed,
.wood-framed {
  --frame-width: 1rem;
  border-radius: var(--frame-width);
  border: var(--frame-width) solid transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5), inset 0 0 1rem rgba(0, 0, 0, 0.5);
}

.wood-framed {
  border-color: var(--wood);
}

.ghost-framed {
  border: 2px solid var(--ghost);
  border-radius: 1.25rem;
  overflow: hidden;
}

.cork-board {
  background: repeat var(--cork-img);
  color: #fff;
  text-shadow: 0 0 0.35em #000;
}

.chalkboard {
  background-color: var(--chalkboard);
  color: var(--chalk);
}
.chalkboard hr {
  opacity: 0.5;
}
.chalkboard hr:not(.vertical) {
  height: 0.25rem;
}
.chalkboard hr.vertical {
  width: 0.25rem;
  height: 100%;
  margin: 0;
}
.chalkboard .btn {
  color: var(--chalk);
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px dashed var(--chalk);
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
}
.chalkboard .btn:hover {
  transition: all 0.25s;
  background-color: var(--chalk);
  color: var(--chalkboard);
}

.circled[data-char=A] {
  transform: translateY(-2%);
}
.circled[data-char=E] {
  transform: translate(3%, -4%);
}
.circled[data-char=H] {
  transform: translateY(-4%);
}
.circled[data-char=R] {
  transform: translateY(-1%);
}
.circled[data-char=C] {
  transform: translate(2%, -6%);
}
.circled[data-char=P] {
  transform: translate(1%, -4%);
}
.circled[data-char=k] {
  transform: translate(3%, -3%);
}
.circled[data-char=a] {
  transform: translateY(-2%);
}
.circled[data-char=e] {
  transform: translate(-1%, -2%);
}
.circled[data-char=h] {
  transform: translateY(-3%);
}
.circled[data-char=c] {
  transform: translate(-3%, -3%);
}
.circled[data-char=p] {
  transform: translate(1%, -2%);
}

.piece {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  position: relative;
}
.piece.red {
  color: var(--piece-red);
}
.piece.red .piece__inner::before {
  border-color: var(--piece-red);
}
.piece.black {
  color: var(--piece-black);
}
.piece.black .piece__inner::before {
  border-color: var(--piece-black);
}
.piece.purple {
  color: var(--piece-purple);
}
.piece.purple .piece__inner::before {
  border-color: var(--piece-purple);
}
.piece.ringless .piece__inner::before {
  display: none;
}
.piece.ringless .piece--char {
  width: 80%;
}
.piece.flat .piece__inner {
  box-shadow: none;
}
.piece .piece__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 85%;
  border: 1px solid #666;
  background-color: #f6f6f6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
.piece .piece__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 90%;
  border: 2px solid transparent;
}
.piece .piece--char {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1;
  width: 72.5%;
}

.chessboard {
  position: relative;
  height: 550px;
  aspect-ratio: 1;
  text-align: center;
}
.chessboard .chessboard__plate {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 4.5454545%;
  background: repeat var(--fiberboard-img);
  background-size: auto 100%;
  border-radius: 4px;
}
.chessboard .chessboard__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.chessboard .chessboard__grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.chessboard svg.chessboard__grid {
  fill: none;
  stroke: #333;
}
.chessboard .mark {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 10%;
  position: absolute;
  z-index: 20;
}
.chessboard .mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 40%;
}
.chessboard .mark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 25%;
}
.chessboard .mark.next {
  z-index: 25;
  cursor: pointer;
}
.chessboard .mark.next::before {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 40%;
  box-shadow: 0 0 2px 1px #080, inset 0 0 1px 1px #080;
}
.chessboard .mark.banned {
  z-index: 25;
  pointer-events: none;
}
.chessboard .mark.banned::before, .chessboard .mark.banned::after {
  width: 30%;
  height: 0;
  box-shadow: 0 0 2px 1px #800;
}
.chessboard .mark.banned::before {
  transform: translate(0, -50%) rotate(45deg);
}
.chessboard .mark.banned::after {
  transform: translate(0, -50%) rotate(-45deg);
}
.chessboard .mark.last {
  pointer-events: none;
}
.chessboard .mark.last::before {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 40%;
  box-shadow: 0 0 2px 1px #fff, inset 0 0 1px 1px #fff;
}
.chessboard .mark.last::after {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 25%;
  background-color: #fff;
  box-shadow: 0 0 2px 1px #fff;
}
.chessboard .piece {
  aspect-ratio: 1;
  border-radius: 50%;
  user-select: none;
  background: transparent;
  width: 10%;
  position: absolute;
}
.chessboard .piece.last-moved .piece__inner {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75), 0 0 4px 6px #fff;
}
.chessboard .piece.selected .piece__inner {
  transform: scale(1.2) !important;
}

.aftermath.open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aftermath.open .chalkboard {
  width: 40rem;
  height: 30rem;
  font-size: 1.2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "header header header" "stats-1p vertical-bar stats-2p" "controls controls controls";
  gap: 1rem;
  user-select: none;
}
.aftermath.open .aftermath__title {
  font-size: 3rem;
}
.aftermath.closed {
  position: relative;
  height: 100%;
}
.aftermath.closed .chalkboard {
  --frame-width: 0.5rem;
  --chalkboard-frame-width: 0.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.aftermath.closed .chalkboard:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.aftermath.closed .aftermath__title {
  font-size: 2rem;
  margin: 0;
}
.aftermath .aftermath__header {
  grid-area: header;
  position: relative;
}
.aftermath .aftermath__title {
  position: relative;
  font-weight: bold;
  text-align: center;
}
.aftermath .aftermath__subtitle {
  text-align: center;
}
.aftermath .aftermath__close-btn {
  --button-size: 3rem;
  --icon-size: calc(var(--button-size) / 2);
  --icon-stroke-width: 0.25rem;
  position: absolute;
  top: calc(50% - var(--button-size) / 2);
  right: 0;
  width: var(--button-size);
  height: var(--button-size);
  padding: 0;
  border-radius: 9999px;
}
.aftermath .aftermath__close-btn::before, .aftermath .aftermath__close-btn::after {
  content: "";
  position: absolute;
  top: calc(50% - var(--icon-stroke-width) / 2);
  left: calc(50% - var(--icon-size) / 2);
  width: var(--icon-size);
  border-top: var(--icon-stroke-width) solid currentColor;
  border-radius: 9999px;
}
.aftermath .aftermath__close-btn::before {
  transform: rotate(45deg);
}
.aftermath .aftermath__close-btn::after {
  transform: rotate(-45deg);
}
.aftermath .aftermath__vertical-bar {
  grid-area: vertical-bar;
  width: 0.25rem;
}
.aftermath .aftermath__red-stats h4,
.aftermath .aftermath__black-stats h4 {
  text-align: center;
}
.aftermath .aftermath__controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.room {
  --hud-width: 9rem;
  height: 100%;
  display: grid;
  grid-template-columns: var(--hud-width) calc(100vh - 6rem) var(--hud-width);
  grid-template-rows: 1fr calc(var(--hud-width) * 0.75) 1fr;
  grid-template-areas: "left-hud chessboard upper-right-hud" "left-hud chessboard middle-right-hud" "left-hud chessboard lower-right-hud";
  gap: 1.5rem;
  justify-content: center;
}
.room .chessboard {
  grid-area: chessboard;
  height: 100%;
}
.room .left-hud,
.room .upper-right-hud,
.room .lower-right-hud {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}
.room .left-hud {
  grid-area: left-hud;
}
.room .upper-right-hud {
  grid-area: upper-right-hud;
}
.room .middle-right-hud {
  grid-area: middle-right-hud;
  position: relative;
}
.room .lower-right-hud {
  grid-area: lower-right-hud;
  justify-content: end;
}
.room .controls {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  gap: 0.75rem;
}

.room.red-ui .piece.red,
.room.black-ui .piece.black {
  transition: all 0.1s;
}

.room.red-ui .chessboard.red .piece.red,
.room.black-ui .chessboard.black .piece.black {
  cursor: pointer;
}
.room.red-ui .chessboard.red .piece.red:hover .piece__inner,
.room.black-ui .chessboard.black .piece.black:hover .piece__inner {
  transform: scale(1.05);
  transition: all 0.1s;
}

.room:not(.red-ui) .piece.red,
.room:not(.black-ui) .piece.black {
  transition: all 0.35s;
}

.messages-top-shadow,
.messages-bottom-shadow {
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
  z-index: 1;
}

.messages-top-shadow {
  top: 0;
  background: linear-gradient(to bottom, #222, transparent);
}

.messages-bottom-shadow {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #222);
}

ul.messages {
  position: relative;
  padding: 1rem 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
  list-style: none;
  overflow: scroll;
}
ul.messages .messages__bottom {
  margin-top: 0.5rem;
}
ul.messages li.message {
  display: flex;
}
ul.messages li.message[data-from=lower] {
  justify-content: flex-end;
}
ul.messages li.message[data-from=lower] .message__tail {
  transform: rotate(180deg);
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
}
ul.messages li.message[data-from=narrator] {
  position: relative;
  justify-content: center;
}
ul.messages li.message[data-from=narrator]::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid #999;
}
ul.messages li.message[data-from=narrator] .message__inner {
  padding: 0 0.5em;
  color: #999;
  background-color: #222;
  user-select: none;
}
ul.messages li.message[data-color=red] .message__bubble {
  color: var(--piece-red);
}
ul.messages li.message[data-color=red] .message__bubble::before {
  border-color: var(--piece-red) !important;
}
ul.messages li.message[data-color=black] .message__bubble {
  color: var(--piece-black);
}
ul.messages li.message[data-color=black] .message__bubble::before {
  border-color: var(--piece-black) !important;
}
ul.messages li.message.revoked {
  opacity: 0.75;
}
ul.messages li.message.revoked .message__bubble::before {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0.85em;
  right: 0.85em;
  top: 40%;
  bottom: 40%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
ul.messages li.message .message__inner {
  position: relative;
}
ul.messages li.message .message__bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.85em;
  border-radius: 9999px;
  background-color: var(--fiberboard-light);
  user-select: none;
}
ul.messages li.message .message__bubble .piece {
  display: inline-block;
  height: 2rem;
}
ul.messages li.message .message__tail {
  position: absolute;
  z-index: -1;
  height: 50%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  color: var(--fiberboard-light);
}

.profile .profile__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #666;
}

body.app {
  height: 100%;
  padding: 3rem;
}
body.app #root {
  display: block;
  height: 100%;
}

body.page {
  color: #eee;
}

.home .lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .lobby .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  width: 9rem;
}

.arena .lobby {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left-spacing settings bot-profile right-spacing";
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.arena .lobby .lobby__settings {
  grid-area: settings;
  justify-self: end;
  padding: 1.5rem;
  text-align: center;
}
.arena .lobby .lobby__bot-profile {
  grid-area: bot-profile;
  justify-self: start;
}
.arena .lobby .lobby__bot-profile .avatar {
  width: 10rem;
}

.color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.color-options .color-options__option {
  cursor: pointer;
}
.color-options .color-options__option:hover .piece {
  transform: scale(1.05);
  transition: all 0.1s;
}
.color-options .color-options__option .piece {
  width: 3.5rem;
}
.color-options .color-options__option.selected {
  border-radius: 50%;
  background-color: rgb(35, 121, 30);
}

.bot-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.bot-options .bot-options__option {
  padding: 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.bot-options .bot-options__option .avatar {
  width: 3.5rem;
}
.bot-options .bot-options__option:hover .avatar {
  transform: scale(1.05);
  transition: all 0.1s;
}
.bot-options .bot-options__option .avatar__check {
  visibility: hidden;
}
.bot-options .bot-options__option.selected .avatar__check {
  visibility: visible;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar .avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar .avatar__check {
  aspect-ratio: 1;
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Noto Sans TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #222;
}

/*# sourceMappingURL=main.css.map */
