---
layout: app.njk
---

<div id="root" class="endgames">
  <ul>
    {%- for game in endgames -%}
    <li>
      <a href="{{ game.path }}/">{{ game.path }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>
