<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.njk' %}
  </head>
  <body class="app">
    {{ content | safe }}
    {% include 'footer.njk' %}
    {% include 'outro.njk' %}
  </body>
</html>
