.battle .lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lobby__plate {
    padding: 1.5rem;
    text-align: center;
  }
}

.color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .color-options__option {
    cursor: pointer;

    &:hover .piece {
      transform: scale(1.05);
      transition: all 0.1s;
    }
    .piece {
      width: 3rem;
    }
    &.selected {
      border-radius: 50%;
      background-color: rgba(0, 128, 0, 0.75);
    }
  }
}

.bot-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .bot-options__option {
    padding: 0.3rem;
    border-radius: 0.75rem;
    cursor: pointer;

    .avatar {
      width: 3rem;
    }
    &:hover .avatar {
      transform: scale(1.05);
      transition: all 0.1s;
    }
    &.selected {
      background-color: rgba(0, 128, 0, 0.75);
    }
  }
}

.avatar {
  aspect-ratio: 1;
  border-radius: 0.5rem;

  .avatar__frame {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #666;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.65);
    padding: 0.25rem;
  }
  .avatar__inner {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.75)
  }
  .avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    object-fit: cover;
  }
  &.bronze .avatar__frame {
    background: linear-gradient(to bottom, #CD7F32 0%, #BE7023 100%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.65), inset 0 0 0.25rem #fff;
  }
}
