// frames //
.framed,
.wood-framed {
  --frame-width: 1rem;
  border-radius: var(--frame-width);
  border: var(--frame-width) solid transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5), inset 0 0 1rem rgba(0, 0, 0, 0.5);
}
.wood-framed {
  border-color: var(--wood);
}

// boards //
.cork-board {
  background: repeat var(--cork-img);
  color: #fff;
  text-shadow: 0 0 0.35em #000;
}
.chalkboard {
  background-color: var(--chalkboard);
  color: var(--chalk);

  hr {
    opacity: .5;
  }
  hr:not(.vertical) {
    height: 0.25rem;
  }
  hr.vertical {
    width: 0.25rem;
    height: 100%;
    margin: 0;
  }
  .btn {
    color: var(--chalk);
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px dashed var(--chalk);
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;

    &:hover {
      transition: all 0.25s;
      background-color: var(--chalk);
      color: var(--chalkboard);
    }
  }
}
