.circled {
  &[data-char="A"] {
    transform: translate3d(0, -2%, 0);
  }
  &[data-char="E"] {
    transform: translate3d(3%, -4%, 0);
  }
  &[data-char="H"] {
    transform: translate3d(0, -4%, 0);
  }
  &[data-char="R"] {
    transform: translate3d(0, -1%, 0);
  }
  &[data-char="C"] {
    transform: translate3d(2%, -6%, 0);
  }
  &[data-char="P"] {
    transform: translate3d(1%, -4%, 0);
  }
  &[data-char="k"] {
    transform: translate3d(3%, -3%, 0);
  }
  &[data-char="a"] {
    transform: translate3d(0, -2%, 0);
  }
  &[data-char="e"] {
    transform: translate3d(-1%, -2%, 0);
  }
  &[data-char="h"] {
    transform: translate3d(0, -3%, 0);
  }
  &[data-char="c"] {
    transform: translate3d(-3%, -3%, 0);
  }
  &[data-char="p"] {
    transform: translate3d(1%, -2%, 0);
  }
}
