.room {
  --hud-width: 9rem;

  height: 100%;
  display: grid;
  grid-template-columns: var(--hud-width) calc(100vh - 6rem) var(--hud-width);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left-hud board upper-right-hud"
    "left-hud board lower-right-hud";
  gap: 1.5rem;
  justify-content: center;

  .board {
    grid-area: board;
    height: 100%;
  }
  .left-hud,
  .upper-right-hud,
  .lower-right-hud {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
  }
  .left-hud {
    grid-area: left-hud;
  }
  .upper-right-hud {
    grid-area: upper-right-hud;
  }
  .lower-right-hud {
    grid-area: lower-right-hud;
    justify-content: end;
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
    gap: 1rem;
  }
}

// pieces controlled by UI
.room.red-ui .piece.red,
.room.black-ui .piece.black {
  transition: all 0.1s;
}
.room.red-ui .board.red .piece.red,
.room.black-ui .board.black .piece.black {
  &:hover .piece__inner {
    transform: scale(1.05);
  }
  cursor: pointer;
}
// pieces not controlled by UI
.room:not(.red-ui) .piece.red,
.room:not(.black-ui) .piece.black {
  transition: all 0.35s;
}

.result {
  --hr-height: 0.2rem;

  @include backdrop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.closable {
    cursor: pointer;
  }

  .result__phrase {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
  }
  .result__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .hr {
    height: var(--hr-height);
    box-shadow: inset 0 0 var(--hr-height) rgba(0, 0, 0, 0.35), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
  }
}

.messages-top-shadow,
.messages-bottom-shadow {
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
  z-index: 1;
}
.messages-top-shadow {
  top: 0;
  background: linear-gradient(to bottom, #222, transparent);
}
.messages-bottom-shadow {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #222);
}
ul.messages {
  position: relative;
  padding: 1rem 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
  list-style: none;
  overflow: scroll;

  .messages__bottom {
    margin-top: 0.5rem;
  }

  li.message {
    display: flex;

    &[data-from="lower"] {
      justify-content: flex-end;

      .message__tail {
        transform: rotate(180deg);
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
      }
    }
    &[data-from="narrator"] {
      position: relative;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: -1;
        border-bottom: 1px solid #999;
      }
      .message__inner {
        padding: 0 0.5em;
        color: #999;
        background-color: #222;
        user-select: none;
      }
    }
    &[data-color="red"] {
      .message__bubble {
        color: var(--piece-red);
        &::before {
          border-color: var(--piece-red) !important;
        }
      }
    }
    &[data-color="black"] {
      .message__bubble {
        color: var(--piece-black);
        &::before {
          border-color: var(--piece-black) !important;
        }
      }
    }
    &.revoked {
      opacity: 0.75;

      .message__bubble {
        &::before {
          content: '';
          position: absolute;
          z-index: 10;
          left: 0.85em;
          right: 0.85em;
          top: 40%;
          bottom: 40%;
          border-top: 2px solid #999;
          border-bottom: 2px solid #999;
        }
      }
    }

    .message__inner {
      position: relative;
    }
    .message__bubble {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25em 0.85em;
      border-radius: 9999px;
      background-color: var(--fiberboard-light);
      user-select: none;

      .piece {
        display: inline-block;
        height: 2rem;
      }
    }
    .message__tail {
      position: absolute;
      z-index: -1;
      height: 50%;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      color: var(--fiberboard-light);
    }
  }
}
