:root {
  --fiberboard: #ebd8ab;
  --fiberboard-light: #f2ecde;
  --brass: #e1c16e;
  --chalk: #eee;
  --chalkboard: #497959;
  --wood: #b78240;
  --dark-wood: #5e3f18;
  --piece-red: rgba(200, 0, 0, 0.9);
  --piece-black: #333;
  --piece-purple: rgba(150, 0, 170, 0.9);
}
