@import 'variables';
@import 'utils';

@import 'commons';
@import 'frame';
@import 'boards';

@import 'char';
@import 'piece';
@import 'chessboard';
@import 'aftermath';
@import 'room';

// layouts //
@import 'footer';
@import 'app';
@import 'page';

// pages //
@import 'home';
@import 'arena';

html {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Noto Sans TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #222;
}
